/* CSS reset */
* {
  margin: 0;
  padding: 0; }

.nav__valencia {
  background-color: #ff6000; }

.navbar-brand {
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 2rem; }

#logo_valencia {
  width: 3rem; }

.nav-item {
  font-size: 1.5rem;
  transition: all 1s; }
  .nav-item:hover {
    transform: scale(1.1); }

.foot__image {
  width: 3rem; }

#ns__redes__foot {
  font-size: 1.25rem; }

.card {
  transition: all 1s; }
  .card:hover {
    transform: scale(1.05); }

#form_cont {
  width: 25vw;
  margin-bottom: 2rem; }

@media only screen and (max-width: 576px) {
  #logo_valencia {
    width: 1.75rem; }
  .text_nav {
    font-size: 1rem !important; }
  .nav-item {
    font-size: 1rem; } }

/* hamb. menu shows at this res. */
@media only screen and (max-width: 992px) {
  .nav-item:hover {
    transform: none; }
  #form_cont {
    width: 75vw; }
  .list-group {
    width: 75vw !important; } }

.error_404 {
  background-color: #ff6000; }
  .error_404 h1 {
    color: white;
    font-size: 3rem; }
  .error_404 p {
    color: white;
    font-size: 2rem; }
  .error_404 img {
    width: 10rem; }
