*{
    margin:0;
    padding:0;
}

.nav__valencia{
    background-color:rgb(255,96,0);
}

.navbar-brand{
    font-family: 'Caveat', cursive;
    font-weight:bold;
    font-size: 2rem;
}

.nav-item{
    font-size: 1.5rem;
    transition: all 1s;
}

.nav-item:hover{
    transform: scale(1.1);
}

.foot__image{
    width:30rem;
}

#ns__redes__foot{
    font-size: 1.25rem;
}

.card{
    transition: all 1s;
}

.card:hover{
    transform: scale(1.05);
}

@media only screen and (max-width: 320px){
    #logo_valencia{
        width:1.75rem;
    }

    .text_nav{
        font-size: 1rem !important;
    }

    .nav-item{
        font-size: 1rem;
        
    }
}