.error_404{
    background-color: map-get($color_pallete, orange_val);
    & h1{
        color: map-get($color_pallete, white_letter);
        font-size: 3rem;
    }
    & img{
        width: 10rem;
    }
}

.esParaUsarElExtend{
    @include notfound_text
}

.return_link{
    @extend .esParaUsarElExtend;
    @include cursive_text;
}