.nav__valencia{
    background-color: map-get($color_pallete, orange_val);
}

.navbar-brand{
    @include cursive_text;
}

#logo_valencia{
    width: 3rem;
}

.nav-item{
    font-size: 1.5rem;
    transition: all 1s;

    &:hover{
        transform: scale(1.1);
    }
}
